
<div class="container">
	<div>
		<img src="assets/images/dog.jpg">
	</div>

	


		<div class="col-xs-3" class="btn-group" role="group" aria-label="...">
 			 <button type="button" class="btn btn-default">LOST</button>
 			 <button type="button" class="btn btn-default">FOUND</button>

		</div>

</div>