	<!--{{{ body }}}-->
			<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/found">SpotFinder</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li ><a href="/found">Found<span class="sr-only">(current)</span></a></li>
	        <li><a href="/lost">Lost</a></li>
	        <li class="dropdown">
	        <li><a href="/post">Post</a></li>
	        <li class="dropdown">
	          
	        </li>
	      </ul>
	      <form class="navbar-form navbar-right">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/login">Log In</a></li>
	        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<!--END OF NAVBAR-->
<!--END OF NAVBAR-->

	<div class="container">
		<div class="row" action="petFinder/create" method="POST">
			<div class="col-md-5">
				<div class="pull-right">
					<div class="form-group">
						<div class="inputAccountContainer">
							<!--<div class="panel panel-info">-->
							<h1>Hello There..</h1>
							<!--FULL NAME-->
								<div class="input-group" id="newAccountFN">
						  			<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
						  			<input type="text" name="userName" class="form-control" placeholder="first name" aria-describedby="basic-addon1">
								</div>
							<!--EMAIL-->
								<div class="input-group" id="newAccountEmail">
						  			<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
						  			<input type="text"  name="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
								</div>
							<!--PASSWORD-->
								<div class="input-group" id="newAccountPW">
						  			<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></span>
						  			<input type="text" name="password"class="form-control" placeholder="Password" aria-describedby="basic-addon1">
								</div>

								<!--ZIPCODE-->
								<div class="input-group" id="newAccountZip">
						  			<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
						  			<input type="text" name="zipcode_user" class="form-control" placeholder="Zipcode" aria-describedby="basic-addon1">
								</div>
									
								<!--NEW ACCOUNT BUTTON-->
								<div class="btn-group">
			  						<button type="button" class="btn btn-primary">Create New Account</button>
								</div>
								<!--END OF  ACCOUNT BUTTON-->
								
							<!--</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--END OF INPUT ACCOUNT CONTAINER-->


<!--ALERT-->
<div class="alert alert-danger alert-dismissable" id="alert">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Warning!</strong> Indicates a warning that might need attention.
</div>

<!--END OF ALERT-->

<!--BACKGROUND VIDEO-->

	<div class="fullscreen-bg">
	    <video loop muted autoplay poster="assets/images/congruent_pentagon.png" class="fullscreen-bg__video">
	        <!--<source src="video/big_buck_bunny.webm" type="video/webm">-->
	        <source src="assets/images/Good_dog.mp4" type="video/mp4">
	        <!--<source src="video/big_buck_bunny.ogv" type="video/ogg">-->
	    </video>
	</div>
<!--END OF BACKGROUND VIDEO-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>